._ {
    width: 100%;
    position: relative;
}
.title {
    position: absolute;
    top: calc(50% - .6em);
    left: 50%;
    transform: scale3d(1, .8, 1) translateX(-50%);
    color: white;
    font-size: .85em;
    font-weight: 800;
    letter-spacing: .3em;
}