.wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20%;
}
._ {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 45% 0;
    cursor: pointer;
    & span {
        display: block;
        background-color: black;
        width: 100%;
        padding-top: 10%;
        position: absolute;
        &:first-child {
            transform: rotate(45deg);
        }
        &:last-child {
            transform: rotate(-45deg);
        }
    }
}