._ {
    position: fixed;
    z-index: 100;
    padding: 1em;
    padding-bottom: 3em;
    width: 100%;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border-top: grey .5px solid;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    font-family: sans-serif;
    & input, textarea {
        background-color: transparent;
    }
}
.enter {
    transform: translateY(100%);    
}
.enterActive {
    transform: translateY(0%);
    transition: transform .3s;
}
.enterDone {
    transform: translateY(0%);
}
.exit {
    transform: translateY(0%);
}
.exitActive {
    transform: translateY(100%);
    transition: transform .3s;
}
.exitDone {
    transform: translateY(100%);
}
.to {
    font-size: .8em;
    height: 2em;
    color: grey;
}
