.links {
    display: flex;
    justify-content: center;
}
.link {
    display: flex;
    align-items: center;
    padding: 0 calc(.5vw + .3em);

    position: relative;

    color: white !important;
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }
}
.active {
    display: flex;
    color: black !important;
    & ._ {
        background: #61DAFB;
    }
}
._ {
    display: block;
    width: 100%;
    height: .2em;

    position: absolute;
    left: 0;
    bottom: 0;
}
