._ {
    width: 100%;}
.couple {
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        padding: 1em 0;
        box-sizing: border-box;
    }
}
.parents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.header {
    text-align: center;
    width: 100%;
    padding: .8em 0;
    background-color: darkgrey;
    color: white;
}
.parent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        padding: 1em 0;
    }
}
.whose {
    margin: 1.5em 0;
    font-size: .9em;
    color: rgb(30, 30, 30);
}