.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: max-content;
    line-height: 1.5em;
    padding: 0 .3em;
    transform: translate(-50%, -4em);
    background-color: white;
    border: black solid .1em;
    border-radius: .3em;
    font-family: 'Nanum-gothic'
}
