.selector {
    width: 100%;
    height: 100%;
}
// only to be used with .selector
.draggable {
    cursor: -webkit-grab;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}