._ {
    display: flex;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: #f1f1f1;
    color: black;
    box-shadow: 0 .1em .5em -.2em #00000070;
    cursor: pointer;
    & > svg {
        margin: auto;
    }
}
