._ {
    position: relative;
    width: 100%;
    -webkit-touch-callout: none;
    user-select: none;
}
.wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.outer {
    position: relative;
}
.inner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.slider {
    z-index: 150;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    //background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    touch-action: none;
    display: none;
    &.zoom {
        //background-color: rgba(0, 0, 0, 1);
        display: block;
    }
}
.sliderInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translateX(calc((-100% + 300px) / 3 - 150px));
    width: calc(300% + 300px);
    height: 100%;
}
.sliderImg {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.ui {
    width: 0;
    height: 0;
}
.uiEnter {
    opacity: 0;
}
.uiEnterActive {
    opacity: 1;
    transition: opacity .3s;
}
.uiExit {
    opacity: 1;
}
.uiExitActive {
    opacity: 0;
    transition: opacity .3s;
}
.btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 15%;
    height: 20%;
    top: 40%;
    display: flex;
    align-items: center;
    &:focus {
        outline: none;
    }
    &.next {
        right: 0;
        &:before {
            content: '>>';
            right: 0;
        }
    }
    &.prev {
        left: 0;
        &:before {
            content: '<<';
            left: 0;
        }
    }
    &:before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 8vh;
        min-height: 150px;
        max-width: 50px;
        background-color: rgba(0,0,0,.6);
        font-size: 1.5em;
        color: white;
    }
}
.slideInfo {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: black;
    padding: 0 calc(5vw - 0.5em);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exit {
    width: 30px;
    height: 30px;
    & span {
        background-color: white;
    }
}