._ {
    width: 100%;
    word-break: keep-all;
}
.case {
    & + .case {
        margin-top: 1.5em;
    }
}
.bold {
    font-weight: 800;
}
.title {
    font-weight: 800;
}
.content {
    font-size: .9em;
    margin-top: .5em;
    padding-left: .2em;
    line-height: 1.5em;
}