._ {
    width: 100%;
    display: block;
    font-family: Sans-serif;
}

.re {
    margin-left: 1.5em;
}

.wrap {
    padding: 2vw 1em;
}
.u {
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.name {
    font-weight: 800;
}
.ip {
    font-size: .8em;
    color: grey;
}
.m {
    display: flex;
    align-items: flex-end;
    margin-bottom: .3em;
}
.text {
    width: 100%;
    padding-right: 1em;
    flex: 1 1 auto;
    word-break: break-all;
}
.del {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}
.l {
    display: flex;
    color: grey;
    font-size: .8em;
    & > span + span {
        margin-left: 1em;
    }
}
