.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    // ie flexbox bugfix
    -ms-flex-negative: 0;
}
.mainMsg {
    height: 4em;
    line-height: 4em;
    font-size: 5vmin;
}
.info {
    text-align: center;
}
.msg {
    margin-top: 4em;
    text-align: center;
    & span {
        font-size: .7em;
        font-weight: 800;
    }
    & p {
        line-height: 2.2em;
    }
}