.skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}
.page {
    font-size: 1.8vmin;
    /* IE11+ specific rule */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        font-size: 17px;
    }
    @media (max-width: 833px), (max-height: 833px) {
        font-size: 15px;
    }
    // for iPhone 5/SE
    @media (max-width: 320px) {
        font-size: .9em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    & > section:not(:first-child) {
        padding-top: 70px;
    }
    & > div:not(:first-child) {
        margin-top: 70px;
    }
    & > section:last-child {
        padding-top: 0;
        margin-top: 70px;
    }
}
._ {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    @media (max-width: 480px), (max-height: 480px) {
        max-width: 100vmin;
    }
}
.sep {
    width: 100%;
    max-width: 700px;
    position: relative;
}
.title {
    text-align: center;
    font-size: 1.2em;
}
.greetings {
    padding: 0 2rem 0 2rem;
    margin-top: 2rem;
    // ie flexbox bugfix
    -ms-flex-negative: 0;
}
.kakao {
    background: url(https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium_ov.png) no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    box-shadow: 0 0.1em 0.5em -0.2em #00000070;
}
.share {
    font-size: .8em;
    background-color: #e4e4e4;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    & > div,a {
        margin: .7rem;
    }
    & > a {
        &:visited {
            color: black;
        }
        text-decoration: none;
        color: black;
    }
}
