._ {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input {
    width: 100%;
    display: flex;
    font-size: .9em;
    border-bottom: .7px grey solid;
    + .input {
        margin-top: .5em;
    }
    &.focus {
        border-bottom-color: black;
    }
    &.invalid {
        border-bottom-color: red;
    }
    & label {
        display: flex;
        width: 100%;
    }
    & .inputTitle {
        flex: 0 0 auto;
        width: 4em;
        display: flex;
        align-items: center;
        margin-right: .5em;
    }
    & input,textarea {
        flex: 1 1 auto;
        width: 100%;

        padding: .3em .7em;
        border: none;
        box-shadow: none;
        &:focus {
            outline: none;
        }
    }
    & textarea {
        resize: none;
    }
}
.submit {
    flex: 0 0 auto;
    width: 4em !important;
    background-color: transparent;
    color: #147efb;
}
