$border-radius: 10px;
._ {
    display: flex;
    box-sizing: border-box;
    width: 80vw;
    max-width: 350px;
    font-family: sans-serif;
    font-size: .9em;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    padding-top: 1.5em;
    border-radius: $border-radius;
    margin: 0 auto;
    & > form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
.input {
    width: 100%;
    margin: 0.5em 1.5em 1.5em 1.5em;
    padding: .25em .5em;
    border-radius: .3em;
    border: black solid .3px;
}
.btn {
    width: 50%;
    background-color: transparent;
    padding: 0;
    color: #147efb;
    height: 3.2em;
    border: none;
    border-top: grey solid .5px;
    border-radius: 0px;
    & + .btn {
        border-left: grey solid .7px;
    }
    &:focus {
        background-color: #cecece;
    }
    &:active {
        background-color: #cecece;
    }
}
.r {
    border-bottom-right-radius: $border-radius;
}
.l {
    border-bottom-left-radius: $border-radius;
}
.content {
    width:100%;
    text-align: center
}
.msg {
    margin-bottom: 1em;;
}
.err {
    color: red;
}