.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.nav {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 20;

    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    color: black !important;
    border-bottom: black solid .5px;
}
.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    /* IE flexbox bugfix */
    min-height: 1px;
    /* Safari flex item height bugfix */
    height: 100%;
}
