html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Nanum Myeongjo', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  &:visited {
      color: white;
  }
  &:hover {
      text-decoration: underline;
  }
}
section {
    box-sizing: border-box;}
input,textarea {
    &:focus {
        outline: none;
    }
}
