._ {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    transition: opacity .3s linear;
    align-items: center;
}
.enter {
    opacity: 0;
    display: flex;
}
.enterActive {
    opacity: 1;
    display: flex;
}
.enterDone {
    display: flex;
}
.exit {
    opacity: 1;
    display: flex;
}
.exitActive {
    opacity: 0;
    display: flex;
}
