.wrap {
    position: relative;
    height: 100%;
    width: 100%;
    & > img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}
.cover {
    object-fit: cover;}
.contain {
    object-fit: contain;}
.placeHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    animation: loading 1.2s ease-in-out infinite;
    &.isLoaded {
        visibility: hidden;
        animation: out 1s;
        border-radius: 0;
    }
}
@keyframes out {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes loading {
    0% {background-position: -200px 0;}
    100% {background-position: calc(200px + 100%) 0;}
}
